<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.films66.app">

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main.Dark.APP">

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.FilmDetailActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/feedback" />
        <activity
            android:name=".activity.HelpInfoActivity"
            android:label="@string/help" />
        <activity
            android:name=".activity.WebViewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.DialogActivity"
            android:theme="@style/AppTheme.Main.Dialog" />
        <activity android:name=".activity.RecognizeResultActivity" />
        <activity
            android:name=".activity.PlayerEventActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:taskAffinity=".event">

        </activity>
        <activity
            android:name=".activity.WebEventActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".event" />
        <activity
            android:name=".activity.PictureEventActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".event" />

        <service android:name=".service.FloatWindowService" />
        <service
            android:name=".service.RecognizeService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>